# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Project artifacts
checkpoints/
features/
outputs/

# Large/raw data
data/
rarfiles/

# Logs
*.log
